/**
 * Hogan Grid
 */
:root {
	--hogan-grid-padding-small: 10px;
	--hogan-grid-padding-medium: 40px;
	--hogan-grid-padding-large: 80px;
}

.hogan-grid {
	overflow: hidden;
}

.hogan-grid-inner {
	display: flex;
	flex-flow: row wrap;
	margin: 0 calc( - var( --hogan-grid-padding-small ) / 2 );
}

.hogan-grid-item {
	align-items: center;
	background-color: #fff;
	display: flex;
	margin: calc( var( --hogan-grid-padding-small ) / 2 );
	position: relative;
	width: calc( 100% - var( --hogan-grid-padding-small ) );
}

.hogan-grid-text-center {
	text-align: center;
}

.hogan-grid-item-size-medium {
	text-align: left;
}

.hogan-grid-item.hogan-grid-item-size-large {
	width: calc( 100% - var( --hogan-grid-padding-small ) );
}

.hogan-grid-item-inner,
.hogan-grid .savage-card-body {
	width: 100%;
}

.hogan-grid .savage-card-body {
	padding: 0 40px;
}

.hogan-grid-item-size-medium .savage-card-body,
.hogan-grid-item-size-large .savage-card-body {
	padding: 0 80px;
}

.hogan-grid .savage-card-body-inner {
	margin: 40px 0;
}

.hogan-grid-item-size-medium .savage-card-body-inner,
.hogan-grid-item-size-large .savage-card-body-inner {
	margin: 80px 0;
}

.hogan-grid-item-size-medium .hogan-grid-item-inner,
.hogan-grid-item-size-large .hogan-grid-item-inner {
	align-items: flex-end;
	display: flex;
	height: 100%;
}

.hogan-grid-item-size-large .hogan-grid-item-inner {
	align-items: center;
}

.hogan-grid-item-size-medium .savage-card-image,
.hogan-grid-item-size-medium .savage-card-image + .savage-card-body,
.hogan-grid-item-size-large .savage-card-image,
.hogan-grid-item-size-large .savage-card-image + .savage-card-body {
	flex: 0 0 50%;
	width: 50%;
}

.hogan-grid-item-size-small {
	&.savage-has-image {
		align-items: flex-start;
	}

	& .savage-card-image {
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		& + .savage-card-body {
			padding-top: 77.75%;
		}
	}

	& .savage-card-image-inner {
		padding-bottom: 77.75%;
		position: relative;
	}
}

.hogan-grid-item-size-medium .savage-card-image-inner {
	padding-bottom: 100%;
}

.hogan-grid-item-size-large .savage-card-image-inner {
	padding-bottom: 88%;
}

.hogan-grid .savage-card-image-image {
	background-position: center;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.hogan-grid-item-size-medium .savage-card-image-image,
.hogan-grid-item-size-large .savage-card-image-image {
	right: 50%;
}

.hogan-grid .savage-card-link {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media screen and ( min-width: 700px ) {
	.hogan-grid-inner {
		margin: 0 calc( - var( --hogan-grid-padding-medium ) / 2 );
	}

	.hogan-grid-item {
		margin: calc( var( --hogan-grid-padding-medium ) / 2 );
		width: calc( 50% - var( --hogan-grid-padding-medium ) );
	}

	.hogan-grid-item.hogan-grid-item-size-medium,
	.hogan-grid-item.hogan-grid-item-size-large {
		width: calc( 100% - var( --hogan-grid-padding-medium ) );
	}
}

@media screen and ( min-width: 1000px ) {
	.hogan-grid-inner {
		margin: 0 calc( - var( --hogan-grid-padding-large ) / 2 );
	}

	.hogan-grid-item {
		margin: calc( var( --hogan-grid-padding-large ) / 2 );
		width: calc( 33.33333% - var( --hogan-grid-padding-large ) );

		&.hogan-grid-item-size-medium {
			width: calc( 66.66667% - var( --hogan-grid-padding-large ) );
		}

		&.hogan-grid-item-size-large {
			width: calc( 100% - var( --hogan-grid-padding-large ) );
		}
	}
}
