/**
 * Hogan Grid
 */
:root {
	--hogan-grid-image-ratio: 77.75%;
	--hogan-grid-padding-small: 28px;
	--hogan-grid-padding-medium: 20px;
	--hogan-grid-padding-large: 60px;
	--hogan-grid-padding-xlarge: 80px;
}

.hogan-grid {
	font-size: 14px;
	margin: calc( var( --hogan-grid-padding-small ) / 2 ) 0;
	overflow: hidden;
}

.hogan-grid-inner {
	display: flex;
	flex-flow: row wrap;
	margin: 0 calc( - var( --hogan-grid-padding-small ) / 2 );
}

.hogan-grid-item {
	align-items: center;
	background-color: #fff;
	display: flex;
	margin: calc( var( --hogan-grid-padding-small ) / 2 );
	position: relative;
	width: calc( 100% - var( --hogan-grid-padding-small ) );
}

.hogan-grid-item.hogan-grid-item-size-large {
	width: calc( 100% - var( --hogan-grid-padding-small ) );
}

.hogan-grid-item-inner,
.hogan-grid .savage-card-body {
	width: 100%;
}

.hogan-grid .savage-card-body {
	padding: 0 40px;

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.hogan-grid .savage-card-body-inner {
	margin: 40px 0;
}

.hogan-grid .savage-card-icon,
.hogan-grid .savage-card-meta {
	background-color: #f3f3f3;
	position: relative;
}

.hogan-grid .savage-card-icon,
.hogan-grid .savage-card-avatar,
.hogan-grid .savage-card-meta {
	border-radius: 50%;
	height: 65px;
	width: 65px;
}

.hogan-grid .savage-card-icon svg,
.hogan-grid .savage-card-meta-inner {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate( -50%, -50% );
}

.hogan-grid .savage-card-icon svg {
	height: 50%;
	width: 50%;
}

.hogan-grid .savage-card-meta-inner {
	font-size: 12px;
}

.hogan-grid-item-size-xsmall,
.hogan-grid-item-size-small {
	&.savage-has-image {
		align-items: flex-start;

		& .savage-card-body-header {
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		& .savage-card-body-header-inner {
			height: 0;
			padding-bottom: var( --hogan-grid-image-ratio );
			position: relative;
			width: 100%;
		}

		& .savage-card-body-header-content {
			bottom: 0;
			left: 40px;
			position: absolute;
			transform: translate( 0, 50% );
		}
	}

	& .savage-card-image {
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		& + .savage-card-body {
			padding-top: var( --hogan-grid-image-ratio );
		}
	}

	& .savage-card-image-inner {
		padding-bottom: var( --hogan-grid-image-ratio );
		position: relative;
	}
}

.hogan-grid-item-size-medium .savage-card-image-inner {
	padding-bottom: 110%;
	position: relative;
}

.hogan-grid-item-size-large .savage-card-image-inner {
	padding-bottom: 88%;
	position: relative;
}

.hogan-grid .savage-card-image-image {
	background-position: center;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.hogan-grid .savage-card-link {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.hogan-grid .savage-card-heading {
	font-size: 18px;
}

.hogan-grid-text-center {
	text-align: center;

	& .hogan-grid-item-size-xsmall,
	& .hogan-grid-item-size-small {
		&.savage-has-image .savage-card-body-header-content {
			left: 50%;
			transform: translate( -50%, 50% );
		}
	}

	& .hogan-grid-item-size-xsmall,
	& .hogan-grid-item-size-small,
	& .hogan-grid-item-size-large {
		& .savage-card-icon,
		& .savage-card-meta {
			margin: 0 auto;
		}
	}
}

@media screen and ( min-width: 768px ) {
	.hogan-grid {
		font-size: 13px;
		margin: calc( var( --hogan-grid-padding-medium ) / 2 ) 0;
	}

	.hogan-grid-inner {
		margin: 0 calc( - var( --hogan-grid-padding-medium ) / 2 );
	}

	.hogan-grid-item-size-medium {
		text-align: left;
	}

	.hogan-grid-item {
		margin: calc( var( --hogan-grid-padding-medium ) / 2 );
		width: calc( 33.33333% - var( --hogan-grid-padding-medium ) );

		&.hogan-grid-item-size-xsmall {
			width: calc( 25% - var( --hogan-grid-padding-medium ) );
		}

		&.hogan-grid-item-size-medium {
			width: calc( 66.66667% - var( --hogan-grid-padding-medium ) );
		}

		&.hogan-grid-item-size-large {
			width: calc( 100% - var( --hogan-grid-padding-medium ) );
		}
	}

	.hogan-grid-item-size-medium .hogan-grid-item-inner,
	.hogan-grid-item-size-large .hogan-grid-item-inner {
		align-items: flex-end;
		display: flex;
		height: 100%;
		position: static;
	}

	.hogan-grid-item-size-large .hogan-grid-item-inner {
		align-items: center;
	}

	.hogan-grid-item-size-medium .savage-card-image-image,
	.hogan-grid-item-size-large .savage-card-image-image {
		right: 50%;
	}

	.hogan-grid-item-size-medium .savage-card-body-inner,
	.hogan-grid-item-size-large .savage-card-body-inner {
		margin: 80px 0;
	}

	.hogan-grid-item-size-medium .savage-card-image-inner {
		padding-bottom: 100%;
		position: static;
	}

	.hogan-grid-item-size-large .savage-card-image-inner {
		position: static;
	}
	.hogan-grid-item-size-medium .savage-card-image,
	.hogan-grid-item-size-medium .savage-card-image + .savage-card-body,
	.hogan-grid-item-size-large .savage-card-image,
	.hogan-grid-item-size-large .savage-card-image + .savage-card-body {
		flex: 0 0 50%;
		width: 50%;
	}

	.hogan-grid-item-size-medium .savage-card-body,
	.hogan-grid-item-size-large .savage-card-body {
		padding: 0 30px;
	}

	.hogan-grid .savage-card-body-inner {
		margin: 30px 0;
	}

	.hogan-grid .savage-card-heading {
		font-size: 16px;
	}

	.hogan-grid .savage-card-icon,
	.hogan-grid .savage-card-avatar,
	.hogan-grid .savage-card-meta {
		height: 55px;
		width: 55px;
	}
}

@media screen and ( min-width: 1280px ) {
	.hogan-grid {
		font-size: 14px;
		margin: calc( var( --hogan-grid-padding-large ) / 2 ) 0;
	}

	.hogan-grid-inner {
		margin: 0 calc( - var( --hogan-grid-padding-large ) / 2 );
	}

	.hogan-grid-item {
		margin: calc( var( --hogan-grid-padding-large ) / 2 );
		width: calc( 33.33333% - var( --hogan-grid-padding-large ) );

		&.hogan-grid-item-size-xsmall {
			width: calc( 25% - var( --hogan-grid-padding-large ) );
		}

		&.hogan-grid-item-size-medium {
			width: calc( 66.66667% - var( --hogan-grid-padding-large ) );
		}

		&.hogan-grid-item-size-large {
			width: calc( 100% - var( --hogan-grid-padding-large ) );
		}
	}

	.hogan-grid-item-size-medium .savage-card-body,
	.hogan-grid-item-size-large .savage-card-body {
		padding: 0 60px;
	}

	.hogan-grid .savage-card-body-inner {
		margin: 40px 0;
	}

	.hogan-grid .savage-card-heading {
		font-size: 20px;
	}

	.hogan-grid .savage-card-icon,
	.hogan-grid .savage-card-avatar,
	.hogan-grid .savage-card-meta {
		height: 75px;
		width: 75px;
	}

	.hogan-grid .savage-card-meta-inner {
		font-size: 14px;
	}
}

@media screen and ( min-width: 1500px ) {
	.hogan-grid {
		margin: calc( var( --hogan-grid-padding-xlarge ) / 2 ) 0;
	}

	.hogan-grid-inner {
		margin: 0 calc( - var( --hogan-grid-padding-xlarge ) / 2 );
	}

	.hogan-grid-item {
		margin: calc( var( --hogan-grid-padding-xlarge ) / 2 );
		width: calc( 33.33333% - var( --hogan-grid-padding-xlarge ) );

		&.hogan-grid-item-size-xsmall {
			width: calc( 25% - var( --hogan-grid-padding-xlarge ) );
		}

		&.hogan-grid-item-size-medium {
			width: calc( 66.66667% - var( --hogan-grid-padding-xlarge ) );
		}

		&.hogan-grid-item-size-large {
			width: calc( 100% - var( --hogan-grid-padding-xlarge ) );
		}
	}

	.hogan-grid-item-size-medium .savage-card-body,
	.hogan-grid-item-size-large .savage-card-body {
		padding: 0 65px;
	}

	.hogan-grid .savage-card-body-inner {
		margin: 55px 0;
	}

	.hogan-grid .savage-card-heading {
		font-size: 24px;
	}

	.hogan-grid .savage-card-icon,
	.hogan-grid .savage-card-avatar,
	.hogan-grid .savage-card-meta {
		height: 85px;
		width: 85px;
	}
}
